rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{userId}/profile_photo/{fileName} {
      allow read;
      allow write: if request.auth.uid == userId
                   && request.resource.contentType.matches('image/.+');
    }
    match /{userId}/recordings/{fileName} {
      allow read: if request.auth.uid == userId
                  && resource.metadata.audioChanged == 'true';
      allow create: if request.resource.contentType.matches('audio/webm')
                    && request.resource.size < 10 * 1024 * 1024; // < 10MB
    }
  }
}
