@media screen and (max-width: 992px) {
  .join-btn {
    display: block;
    width: 90%;
    max-width: 300px;
  }  

  .mailbox-img {
    margin-top: -7%;
    margin-bottom: -7%;
    order: 1;

    img {
      max-width: 400px;
    }
  }
  .content {
    order: 2;
  }
}
