.safe-area {
  margin-top: calc(1rem + 40px);
  margin-bottom: calc(1rem + 40px);
  padding-bottom: 0.5rem;
  min-height: calc(100vh - 2rem - 80px);
  overflow-x: hidden;

  &.no-bottom-navbar {
    min-height: calc(100vh - 1rem - 40px);
    margin-bottom: 0;
  }
}

@media (min-width: map-get($grid-breakpoints, 'sm')) {
  .safe-area {
    min-height: calc(100vh - 1rem - 40px);
    margin-bottom: 0;
  }
}
