.navbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.05);
}

.nav-link {
  color: black !important;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--primary);
    transform: translateX(-50%);
    transition: 0.25s ease-in-out;
  }
  &:hover:before,
  &.active:before {
    width: 25px;
  }
}

.main-links {
  text-align: center;
}

.navbar-toggler {
  border-radius: 0.5rem !important;
  border: none !important;
  padding: 0.3rem !important;
  background: none !important;
  // background: #eaebef !important;
  outline: none !important;

  .bar {
    display: block;
    width: 25px;
    height: 2px;
    background: #333;
    position: relative;
    right: 7px;
    transition: 0.25s ease-in-out;
    transition-property: transform, opacity, right;

    &:nth-child(1) {
      transform: rotate(45deg) translateX(10px);
    }
    &:nth-child(2) {
      margin: 5px 0;
      opacity: 0;
      right: 10px;
    }
    &:nth-child(3) {
      transform: rotate(-45deg) translateX(10px);
    }
  }
  &.collapsed {
    .bar {
      transform: none;
      opacity: 1;
      right: 0;
    }
  }
}

@media (min-width: 992px) {
  .main-links {
    border-right: 1px solid #e2e2e2;
  }
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: white;
    transition: transform .3s ease-in-out;
    transform: translateX(-100%);

    &.open {
      transform: translateX(1rem);
    }
  }
}
