$font-family-sans-serif: "JF Flat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$primary: #00cf95;

$theme-colors: (
  "blue": #007bff,
  "red": #ea4335
);

@import "~bootstrap/scss/bootstrap";

*::selection {
  background: $primary;
  color: white;
}

body {
  background: #eaebef;
  text-align: right;
  overflow-y: scroll;
}

.btn, .form-control {
  border-radius: 0.4rem;
  border-width: 2px;
  box-shadow: 0 0 !important;
}

.form-control {
  border-color: #f2f2f2 !important;
  background: #f2f2f2;
  transition: background-color 0.25s ease-in-out;

  &:focus {
    background: white;
  }
}

.card {
  border-radius: 1rem;
  border: 0;
  border-bottom: 2px solid $primary;
  box-shadow: 0 1rem 2rem -1rem rgba($primary, 0.15);
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    border-color: transparent !important;
  }

  .btn-text-#{$color} {
    @include button-outline-variant($value);
    background: rgba($value, 0.1);
    border-color: transparent;
    
    &:hover {
      border-color: transparent;
    }
  }
}

.alert {
  border-radius: 0.5rem;
  border: none;
}
.alert-dismissible {
  padding-left: 4rem;
  padding-right: 1.25rem;

  .close {
    left: 0;
    right: auto;
  }
}

.loader {
  width: 20px;
  height: 20px;
  background: $primary;
  border-radius: 50%;
  margin: 100px auto 10px;
}
