.react-tel-input {
  .form-control {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    padding-left: 60px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border: 2px solid #f2f2f2;
    background-color: #f2f2f2;
    transition: background-color 0.25s ease-in-out;
  }

  .selected-flag:before {
    box-shadow: none !important;
    border: none !important;
  }
}

.dark {
  .react-tel-input {
    .form-control {
      background-color: #495057 !important;
      border-color: #495057 !important;
      color: white;

      &:focus {
        background: rgba(0, 0, 0, 0) !important;
      }
    }
    
    .selected-flag .arrow {
      border-top-color: #fff;
      &.up {
        border-bottom-color: #fff;
      }
    }
  
    .country-list {
      background-color: #495057;
      color: white;
      border-color: #586069;

      li:hover, li.highlight {
        background: rgba(255, 255, 255, 0.1)
      }

      .dial-code {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
}
